<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KONA BAY</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

<header>
<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <img src="/images/logo_konabay.png" alt="logo" />
  <p>KONA BAY (A Shrimp Broodstock Multiplication Center)</p>
  <a href="#home" class="active">Home</a>
  <a href="/server">Shrimp brootstock</a>
  <a href="/predict">Shrimp breeding</a>
  <a href="https://www.konabayshrimp.com/en/" target="_blank">About us</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
</header>

<body
 style="background-image: url('/images/bg.jpeg'); background-size: cover; background-position: center; height: 100vh; position: relative;">

  <div class="overlay"></div>

  <div class="login-container">
    <h1 class="head"> KONA BAY (Hendrix Genetics)</h1>
    <p class="subhead">A shrimp Broodstock Multiplication Center(BMC)</p>
    <a href="/login"><button  class="login-button">Join us</button></a>
  </div>


</body>

<footer>

</footer>
</html>

